opensn0w
*.o
*.a
*.*~
iBEC*
iBSS*
kernelcache*
DeviceTree*
*.dmg*
libirecovery/*.a
.DS_Store
date.h
applelogo*
*.img3*
*.dfu*
*.WTF*
depcomp
Makefile.in
Makefile
config.*
configure
aclocal*
stamp-h1
help
install-sh
missing
s
