<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>KernelCache</key>
		<dict>
			<key>IV</key>
			<string>a6917966e928abca57b75e35e3bdd26c</string>
			<key>Key</key>
			<string>8074192b89d4c51fa0f5006891f56df493a3ae75726c150ee94c866800346340</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>IV</key>
			<string>7e26d08fd8c0f88030a19523f953b188</string>
			<key>Key</key>
			<string>dd512fd8ba4088d90517ea5ce845b8a0a32b5dac3e6f9af1da165159221a1dfb</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>IV</key>
			<string>2dfb4bdae82ae7549e88430882215329</string>
			<key>Key</key>
			<string>93f7f1eca0418eaa937c7ea9b1e39d5d2280cdaddc2a1cda023bc73f796a1d5e</string>
		</dict>
	</dict>	
</dict>
</plist>
