<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>VFDecryptKey</key>
			<string>c7e01f3db404f325eee5062368fc6a795487d859518ee498b4d7f4950a281c5421ffbebf</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>IV</key>
			<string>68852b68c6306042d6bb1bb78f0503ed</string>
			<key>Key</key>
			<string>dc86b2bee4710e290156646e0ed7b07b82cf95a593a7d320b82984b6ca019b3e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>IV</key>
			<string>e4d340d9bb22d4a42eaf1869e0978c8b</string>
			<key>Key</key>
			<string>2177595e32aa2eb51e20bc31f6aed2d7818e3fb75f0321a338ed6fe6f42acccb</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>IV</key>
			<string>6ff48f4735a6aff1ffb3dfbdc2ac72d6</string>
			<key>Key</key>
			<string>55fa5096e801823685b27864914926d1c251057257490e24b3573aa9e9ea9cc2</string>
		</dict>
	</dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-8357.20111012.DTOrM/iPad1,1_5.0_9A334_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0</string>
	</dict>
</dict>
</plist>
