<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>VFDecryptKey</key>
			<string>36895be7d36aa1415695ec3cd7d33ccf9b088bfc179d48f4d8fc5fd220a2c6f07c9b76d2</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>IV</key>
			<string>e94b8b8e7a8cfb2a58820ac29fffde91</string>
			<key>Key</key>
			<string>73efff4472beb0559a818d4ddd238f2d53524a22ab606bdd90c4ce979375cfac</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>IV</key>
			<string>12a4ef7d5541c6a7aacbee76aaba93d0</string>
			<key>Key</key>
			<string>a53678bb23ac9782c6dc5a9c41276d79be63ce7e270b717c2ec2a309b98dfbce</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>IV</key>
			<string>f12c8bac769bc818db694a4e4ce431a5</string>
			<key>Key</key>
			<string>ba01d8cc57ecb0e6ac5760efc8a3b007c45e58c4b97aed78d34b8f2a4ad12822</string>
		</dict>
	</dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3304.20111109.Vgtyh/iPhone3,3_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
</dict>
</plist>
