<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>VFDecryptKey</key>
			<string>a8c7fe8c4698684db2b315cdf9b0c569e6769ed721b83799bad4dadfaf6186c6fd6e0fb1</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>IV</key>
			<string>5533d04f6c805307c2f2a573339a6850</string>
			<key>Key</key>
			<string>0ef7774fea99e988487f92f8765e4678aeefc8a14de40b95ba210955445eff22</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>IV</key>
			<string>1d30d95c43807e465d63840e36d68df0</string>
			<key>Key</key>
			<string>9d35cc090e305faf449b8428fe4b0fb9d3b79fbd42da59746bec393b13582f8f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>IV</key>
			<string>05b6de2e7dc95144021a83202f61ab62</string>
			<key>Key</key>
			<string>f21078779f95dd9aa1b2d96d21ac34fc385657aa6cde77c44db051012dbaad2d</string>
		</dict>
	</dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3309.20111109.64rtg/iPhone3,1_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
</dict>
</plist>
