<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>VFDecryptKey</key>
			<string>afde073c5b7a637f0a40b37c7b59f22836074d1f1ec8e85f05573da87da77629624179b4</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>IV</key>
			<string>1dab17ac1e9a92a93eb42222c2ec897a</string>
			<key>Key</key>
			<string>295ac86788a942d4f6cbf0275749b608a5dd12ad961241ae85d165295b290163</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>IV</key>
			<string>27eddd5c22cff6a32d02ac99669f8395</string>
			<key>Key</key>
			<string>98299b12ee0eafe9028c2af13a2a5da96678848c0c2cf068ea3af269f5332985</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>IV</key>
			<string>10b618d7d5731e326b018e95de6b8554</string>
			<key>Key</key>
			<string>34a2126f10e985c36f8d3aa9fee1210fb21eff5fb00b92312df6d83e5e5c22a1</string>
		</dict>
	</dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3307.20111109.5tGhu/iPhone2,1_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
</dict>
</plist>
