<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>IV</key>
			<string>345a34eb3caf3af6a72a0a9559c2e1f9</string>
			<key>FileName</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>3ffb0887082322cc696a3b1dd69547880363a6f54f1a03b20132d401278f3e47</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>IV</key>
			<string>cf59841c24fcaaca03beac5733563a91</string>
			<key>FileName</key>
			<string>kernelcache.release.n90</string>
			<key>Key</key>
			<string>fd757514d0086be75e9ac2a3c601d1ef6cc7e0eeedb048be19b0a2cdf43b9803</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>IV</key>
			<string>863b51688385f28267112e02bb7cf910</string>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>Key</key>
			<string>2f2cf5c8ee5515b0889d0f1c9a071e353c210f616db22a3389b4bc6c45d1ab00</string>
		</dict>
		<key>FileSystem</key>
		<dict>
			<key>VFDecryptKey</key>
			<string>e897c2d0aaaea8f2752ff6e144c6efc3158a5dad13c6b95ebe8b99885fc6ad0f6b5448f7</string>
			<key>FileName</key>
			<string>038-4292-008.dmg</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>IV</key>
			<string>b1846de299191186ce3bbb22432eca12</string>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
			<key>Key</key>
			<string>e8e26976984e83f967b16bdb3a65a3ec45003cdf2aaf8d541104c26797484138</string>
		</dict>
		<key>UpdateRamdisk</key>
		<dict>
			<key>IV</key>
			<string>339cb99862663fad230b8f0f881be518</string>
			<key>FileName</key>
			<string>038-4304-027.dmg</string>
			<key>Key</key>
			<string>bd364cbef93b2dc638400de6b6832206b237b28961fbc5bd556266de654e0a49</string>
		</dict>
		<key>RestoreRamdisk</key>
		<dict>
			<key>IV</key>
			<string>3474f5208fc45aae32734213171b95ee</string>
			<key>FileName</key>
			<string>038-4361-021.dmg</string>
			<key>Key</key>
			<string>4f1419111e1c66c2e597fa79acfad75ce501d043af6eda8a980b6cd4332823ec</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>IV</key>
			<string>842c075d390c0e3a1b56e4598c0748cd</string>
			<key>FileName</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
			<key>Key</key>
			<string>c85fc8edaa9ed11aa0ef8ca9918792cb6685d17a3807407201514ddd29b8096b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>IV</key>
			<string>19db86b7cfa95c222d50c9e3fe6c2681</string>
			<key>FileName</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>84b1dc2baa4573899128ae72cd8d2e27cd024ef563755362e6c07547463a6e6b</string>
		</dict>
	</dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4293.20120427.3DRyb/iPhone3,1_5.1.1_9B206_Restore.ipsw</string>
		<key>Version</key>
		<string>5.1.1</string>
	</dict>
</dict>
</plist>
