<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwareKeys</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>VFDecryptKey</key>
			<string>5e5c52fd7e439936d89659b5aa4f79206cd64f09c9961e9d4712a0131075966e2271b354</string>
			<key>FileName</key>
			<string>iPhone3,1_5.0_9A334_Restore/018-7879-364.dmg</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>FileName</key>
			<string>applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e65ce8671b58fc4c779e166eab10e8ff</string>
			<key>Key</key>
			<string>9d4f781b6384b85b8b5a6cc0b33bc584163b546fca3defff21137d7dcc50d380</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>FileName</key>
			<string>batterycharging1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>d29a0838b75e91aa5ec3230d9872556f</string>
			<key>Key</key>
			<string>c8b5aac64d2bad6cc89f82cced248900a25bb5779f70db6a359572ba68a0449f</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>FileName</key>
			<string>glyphcharging-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>1ea388fbc4ce57d4e897494c639cad52</string>
			<key>Key</key>
			<string>dc09977ade1717fdf5839e1e93e595d2f999981a190a1b9ebabb34bce98e6f3b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>FileName</key>
			<string>batterycharging0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>4fd55d940fbbcfaf9fd6f31d9714b5a1</string>
			<key>Key</key>
			<string>c705fd628ca88a76dc666e0a6081212c614c200f669573944260ef11377a33bc</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>FileName</key>
			<string>batterylow0-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>6756cebf362ebad5f2bd6fcdb971fbb3</string>
			<key>Key</key>
			<string>2f47e54650dadd32605803c2e5a3c064bb1ad248aec19e9a2fb8da3e31903f88</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>FileName</key>
			<string>glyphplugin-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0dfc5e73734f84cd04a980a5e41267ac</string>
			<key>Key</key>
			<string>0f6763f2c7964b6cb5a6aa28e0b227f613c8a580e3e6da0a9080f5e446572a33</string>
		</dict>
		<key>Recovery</key>
		<dict>
			<key>FileName</key>
			<string>recoverymode-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>fd29096afd26b87c994566b6c32af385</string>
			<key>Key</key>
			<string>bdd53835049f058836f2d74cf60e736ed85c5e3939890c2f94fdda4aef479acd</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>FileName</key>
			<string>batterylow1-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>cc78277be52b7f0a4bd9352f0cdde114</string>
			<key>Key</key>
			<string>096f1ba8be2ca3b714bb40009b3efb008cd300fe3be023541fc306c7e93a3083</string>
		</dict>
	</dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-8358.20111012.FFc34/iPhone3,1_5.0_9A334_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0</string>
	</dict>
</dict>
</plist>
