<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>FileSystem</key>
		<dict>
			<key>VFDecryptKey</key>
			<string>7ed37d8c051da8f8d31b0ccf0980fa5ffa54770c7e68ecb5ebf28abe683cadf21a4a99ed</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>IV</key>
			<string>a1e2d83f929f55f810bb0b5b00971804</string>
			<key>Key</key>
			<string>41218476826b0d23fce43db8ef317cef0a22e50ff7145ff587bd5c173f05f133</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>IV</key>
			<string>1e47ed6650470bc12880f9a169a83ec3</string>
			<key>Key</key>
			<string>edfcfffd313d5277a778f804ce905d970e67d0791eb21e1a2216255afc453c3a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>IV</key>
			<string>00c5d93c3c7e25723a6ff56814c4b9ee</string>
			<key>Key</key>
			<string>971b74cfc725377e2b26463edacbded91a75936cc334b092a3fad903335cd09b</string>
		</dict>
	</dict>
	<key>FirmwareInfo</key>
	<dict>
		<key>URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3313.20111109.Azxe3/iPod4,1_5.0.1_9A405_Restore.ipsw</string>
		<key>Version</key>
		<string>5.0.1</string>
	</dict>
</dict>
</plist>
